.headWrapper {
  position: fixed;
  grid-column: 1/13;
  padding: 0 80px 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: fit-content;
  box-sizing: border-box;
  transition: all ease 0.6s;
  /* background-image: linear-gradient(to bottom, #000, rgba(70, 70, 70, 0.64) 50%, rgba(128, 128, 128, 0)); */
}

.headWrapper:hover {
  background-color: rgba(255, 255, 255, 1);
}

.headColor {
  /* background-image: linear-gradient(to bottom, rgba(40, 40, 40, 0.8) 50%, rgba(40, 40, 40, .8)); */
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color ease 0.5s;
}

.headWrapper .home {
  display: inline-block;
  color: #ffffff;
  font-size: 40px;
}

.navi {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.navi>li {
  list-style: none;
}

.navi>li>a {
  font-size: 1rem;
  color: #3e3e3e;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
}

.navi>li>a:after {
  display: block;
  content: '';
  border-bottom: solid 2px #3e3e3e;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.navi>li>a:hover:after {
  transform: scaleX(1);
}

@media screen and (min-width:1024px) and (max-width: 1439px) {}

@media screen and (min-width:601px) and (max-width: 1023px) {
  .headWrapper {
    padding: 0 20px 0;
  }

  .headWrapper .home {
    font-size: 30px;
  }

  .headWrapper .navi {
    column-gap: 25px;
  }

  .navi>li>a {
    font-size: 15px;
  }

}

@media screen and (min-width:0px) and (max-width: 600px) {
  .headWrapper {
    grid-column: 1/ span 6;
    grid-row: 1/2;
    padding: 5px 6px;
  }

  .headWrapper .home {
    font-size: 18px;
  }

  .headWrapper .navi {
    column-gap: 5px;
  }

  .navi>li>a {
    font-size: 13px;
  }

}