@charset "utf-8";

body {
  font-style: normal;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-size: 25px;
  line-height: 1.6;
  letter-spacing: normal;
  color: #3e3e3e;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo {
  font-family: 'Alex Brush', cursive;
  font-size: 2.5rem;
}

.logoSmall {
  font-size: 36px;
}

.fontRed {
  color: #a8315f;
  line-height: 1;
}

h1,
h3 {
  font-weight: normal;
  font-family: 'Castoro Titling', cursive;
  font-size: 3.125rem;
}

.flexCol {
  display: flex;
  flex-direction: row;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.background_image {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 100;
}

.sec1 .title {
  position: relative;
  left: -10%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column: 2/7;
  grid-row: 2/3;
  z-index: 999;
  letter-spacing: normal;
  text-align: left;
  margin: 0 auto;
}

.grid_wrapp {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 15px;
  margin: 0 auto;
}

/* sec1 */
#clickBox {
  position: absolute;
  width: 100%;
  grid-column: 1/span 12;
  z-index: 101;
}

#clickBox .hotspot.btnFocus .logo {
  font-size: 1.3rem;
}

#clickBox .hotspot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-image: url("/images/2.treat/rect.png");
  background-size: cover;
  border-radius: 50%;
  padding: 0.3rem;
  opacity: 0.5;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#clickBox .hotspot:hover {
  opacity: 1;
}

#clickBox .hotspot.btnFocus {
  font-size: 1rem;
  width: fit-content;
  height: auto;
  opacity: 0.8;
  border-radius: 5%;
  animation-name: btnFocus;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes btnFocus {
  from {
    font-size: 1rem;
    width: fit-content;
    height: auto;
  }

  to {
    width: fit-content;
    height: auto;
  }
}

#clickBox .hotspot:nth-of-type(1) {
  left: 68%;
  top: 29%;
}

#clickBox .hotspot:nth-of-type(2) {
  left: 57.66%;
  top: 34%;
}

#clickBox .hotspot:nth-of-type(3) {
  left: 66%;
  top: 44%;
}

#clickBox .hotspot:nth-of-type(4) {
  left: 60%;
  top: 39%;
}

#clickBox .hotspot:nth-of-type(5) {
  left: 54.27%;
  top: 44%;
}

#clickBox .hotspot:nth-of-type(6) {
  left: 61%;
  top: 48%;
}

#clickBox .hotspot:nth-of-type(7) {
  left: 58%;
  top: 56%;
}

#clickBox .hotspot:nth-of-type(8) {
  left: 62.5%;
  top: 60%;
}

#clickBox .hotspot:nth-of-type(9) {
  left: 61.3%;
  top: 66%;
}

/* sec2 body1*/
#sec2 {
  margin: 5rem 2rem;
}

.sec2body {
  margin: 11rem 0;
}

.sec2.grid_wrapp {
  grid-template-rows: auto auto auto;
  place-content: center;
  place-items: center;
}

.sec2body.grid_wrapp {
  place-content: center;
  place-items: center;
  row-gap: 3rem;
}

.sec2body.body1>.flexRow {
  width: 60%;
  justify-content: space-around;
}

.sec2body.body1>.carousel {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1500px;
  height: 100%;
  align-items: center;
}

.carousel>.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  perspective: 300px;
}

.carousel>.carousel__list .carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  /* width: 150px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5); */
  position: absolute;
  transition: all .3s ease-in;
}

.carousel>.carousel__list .carousel__item[data-pos="-1"] {
  z-index: 1;
  opacity: 0.7;
  transform: translateX(-20%) scale(0.8);
}

.carousel>.carousel__list .carousel__item[data-pos="0"] {
  z-index: 2;
}

.carousel>.carousel__list .carousel__item[data-pos="1"] {
  z-index: 1;
  opacity: 0.7;
  transform: translateX(20%) scale(0.8);
}
.sec2body.body1>div:nth-child(3) {
  width: 60%;
  text-align: center;
}

.sec2body.grid_wrapp.body1>div:nth-child(1),
.sec2body.grid_wrapp.body1>div:nth-child(2),
.sec2body.grid_wrapp.body1>div:nth-child(3) {
  grid-column: 1/span 12;
}
/* sec2 body2 */
.sec2body.grid_wrapp.body2>div:nth-child(1) div {
  width: 10rem;
  margin: 2.5rem;
  text-align: center;
}

.sec2body.grid_wrapp.body2>div:nth-child(1) .underLine {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.body2>.flexRow {
  align-items: flex-end;
}

.body2>.flexRow .underLine:hover {
  cursor: pointer;
}

/* slider */
.sec2body.grid_wrapp.body2 .slideWrapper {
  position: relative;
  overflow: hidden;
}

.sec2body.grid_wrapp.body2 .slideWrapper .slideContainer {
  width: 100%;
  list-style: none;
  display: flex;
  /* justify-content: center; */
  scroll-behavior: smooth;
  overflow: scroll;
}

.slideContainer {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  touch-action: none;
}

/* WebKit */
.slideContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sec2body.grid_wrapp.body2 .slideWrapper .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  row-gap: 3rem;
}
/* onclick 이벤트 */
.enlarge {
  font-size: 2.5rem;
  color: #a8315f;
  border-color: #a8315f;
  transition: all ease-out 500ms;
}

.enlargeLogo {
  font-size: 2.8rem;
  transition: all ease-out 500ms;
}

.graphBox {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.graphBox>img {
  grid-column: 1/span 2;
}

.graphBox>table {
  grid-column: 3/span 4;
}

.graphBox>table td {
  vertical-align: middle;
  border-bottom: #3e3e3e solid 1px;
  padding: 0 15px 0;
}

.graphBox>table .grayCell {
  background-color: #f4f4f4;
  margin: 7px 15px;
  border: solid 10px white;
  border-spacing: 10px;
  border-collapse: separate;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
}

.sec2body.grid_wrapp.body2 .slideWrapper .slide div:nth-of-type(2) p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.sec2body.grid_wrapp.body2>div:nth-child(1),
.sec2body.grid_wrapp.body2>div:nth-child(2),
.sec2body.grid_wrapp.body2>div:nth-child(3) {
  grid-column: 1/span 12;
}

.sec2body.grid_wrapp.body3>h3,
img {
  grid-column: 1/span 12;
}

.sec2body.grid_wrapp.body3>p {
  grid-column: 1/span 12;
    width: 60%;
  text-align: center;
}

.sec2body img {
  max-width: 700px;
}

/* 애니메이션 관련 */
.title {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.title span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.title span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title span:nth-child(2) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@media screen and (min-width:1024px) and (max-width: 1439px) {
  body {
    font-size: 22px;
  }

  h1,
  h3 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width:601px) and (max-width: 1023px) {
  body {
    font-size: 1rem;
    box-sizing: border-box;
  }

  h1 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.8rem;
  }

}

@media screen and (min-width:0px) and (max-width: 600px) {
  h1 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

}