@charset "utf-8";

body {
  font-style: normal;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
  color: #3e3e3e;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo {
  font-family: 'Alex Brush', cursive;
}

.logoBig {
  font-size: 2.1rem;
  line-height: 1;
}

.logoSmall {
  font-size: 1.8rem;
  line-height: 1;
}

.fontRed {
  color: #a8315f;
  line-height: 1;
}

h1 {
  font-weight: normal;
  font-family: 'Castoro Titling', cursive;
  font-size: 2.9rem;
}

h3 {
  font-weight: normal;
  font-family: 'Castoro Titling', cursive;
  font-size: 2.3rem;
}

.flexCol {
  display: flex;
  flex-direction: row;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.background_image {
  background-image: url("/images/2.treat/P2_1.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 59vw;
  z-index: 100;
}

.sec1 {
  height: 59vw;
}

.sec1 .title {
  position: relative;
  left: -10%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column: 2/8;
  grid-row: 2/3;
  z-index: 999;
  letter-spacing: normal;
  text-align: left;
  margin: 0 auto;
}

.grid_wrapp {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 15px;
  margin: 0 auto;
}

/* sec1 */
#clickBox {
  position: absolute;
  width: 100%;
  height: 59vw;
  grid-column: 1/span 12;
  z-index: 101;
  animation: dotPoint 1.5s ease-in-out;
}

@keyframes dotPoint {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

#clickBox .hotspot.btnFocus .logo {
  font-size: 1.2rem;
}

#clickBox .hotspot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-image: url("/images/2.treat/rect.png");
  background-size: cover;
  border-radius: 50%;
  padding: 0.3rem;
  opacity: 0.5;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#clickBox .hotspot:hover {
  opacity: 1;
}

#clickBox .hotspot.btnFocus {
  font-size: 0.9rem;
  width: fit-content;
  height: 30px;
  opacity: 0.8;
  border-radius: 15px;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
  animation-name: btnFocus;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes btnFocus {
  from {
    width: 16px;
    /* height: auto; */
  }

  to {
    width: 176px;
  }
}

#clickBox .hotspot:nth-of-type(1) {
  left: 68%;
  top: 29%;
}

#clickBox .hotspot:nth-of-type(2) {
  left: 57.66%;
  top: 34%;
}

#clickBox .hotspot:nth-of-type(3) {
  left: 66%;
  top: 44%;
}

#clickBox .hotspot:nth-of-type(4) {
  left: 60%;
  top: 39%;
}

#clickBox .hotspot:nth-of-type(5) {
  left: 54.27%;
  top: 44%;
}

#clickBox .hotspot:nth-of-type(6) {
  left: 61%;
  top: 48%;
}

#clickBox .hotspot:nth-of-type(7) {
  left: 58%;
  top: 56%;
}

#clickBox .hotspot:nth-of-type(8) {
  left: 62.5%;
  top: 60%;
}

#clickBox .hotspot:nth-of-type(9) {
  left: 61.3%;
  top: 66%;
}

/* sec2 body1*/
#sec2 {
  margin: 5rem 2rem 0;
}

.sec2body {
  margin: 8rem 0;
}

.sec2body:last-of-type {
  margin: 5rem 0 0;
}

.sec2.grid_wrapp {
  grid-template-rows: auto auto auto;
  place-content: center;
  place-items: center;
}

.sec2body.grid_wrapp {
  place-content: center;
  place-items: center;
  row-gap: 2rem;
}

.sec2body.body1>.flexRow {
  width: 60%;
  max-width: 600px;
  justify-content: space-between;
}

.sec2body.body1>.flexRow h4 {
  font-size: 1.8rem;
  font-family: 'Castoro Titling', cursive;
}

.sec2body.body1>.carousel {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1500px;
  height: 100%;
  align-items: center;
}

.carousel>.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 345px;
  max-height: 345px;
  justify-content: center;
  perspective: 300px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective-origin: 50% 50%;
}

.carousel>.carousel__list .carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  width: 80%;
  max-width: 600px;
  height: 345px;
  /* width: 150px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5); */
  position: absolute;
  transition: all .3s ease-in;
}

.carousel>.carousel__list .carousel__item[data-pos="-1"] {
  opacity: 0.7;
  transform: translate3d(-40%, 0, -100px);
  cursor: pointer;
}

.carousel>.carousel__list .carousel__item[data-pos="1"] {
  opacity: 0.7;
  transform: translate3d(40%, 0, -100px);
  cursor: pointer;
}

/* .before,
.after {
  position: absolute;
  line-height: 0;
  width: fit-content;
  height: auto;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
} */

/* carousel 이벤트 시작 */
/* Our image information */
.before,
.after {
  /* width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
  overflow: hidden; */
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  line-height: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.before img,
.after img {
  max-width: max-content;
}

.content-image {
  height: 100%;
}

.after {
  width: 50%;
}

.scroller {
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - 25px);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.9;
  pointer-events: auto;
  cursor: pointer;
}
.scroller>img {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
}

.scrollerLine {
  background-color: #fff;
  width: 5px;
  height: 345px;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroller:hover {
  opacity: 1;
}

.scrolling {
  pointer-events: none;
  opacity: 1;
}

/* .scroller__thumb{
  width:100%;
  height:100%;
  padding:5px;
} */

/* .scroller:before,
.scroller:after{
  content:" ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  transition:0.1s;
}
.scroller:before{
  top:100%;
}
.scroller:after{
  bottom:100%;
} */

/* carousel 끝 */


.sec2body.body1>div:nth-child(3) {
  width: 60%;
  text-align: center;
}

.sec2body.grid_wrapp.body1>div:nth-child(1),
.sec2body.grid_wrapp.body1>div:nth-child(2),
.sec2body.grid_wrapp.body1>div:nth-child(3) {
  grid-column: 2/span 10;
}

/* sec2 body2 */
.sec2body.grid_wrapp.body2>div:nth-child(1) div {
  width: 10rem;
  margin: 2.5rem;
  text-align: center;
}

.sec2body.grid_wrapp.body2>div:nth-child(1) .underLine {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.body2>.flexRow {
  align-items: flex-end;
}

.body2>.flexRow .underLine:hover {
  cursor: pointer;
}

/* slider */
.sec2body.grid_wrapp.body2 .slideWrapper {
  position: relative;
  overflow: hidden;
}

.sec2body.grid_wrapp.body2 .slideWrapper .slideContainer {
  position: relative;
  width: 100%;
  list-style: none;
  display: flex;
  overflow: visible;
  left: 0;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* 슬라이더 창 스크롤 방지 */
.slideContainer {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  touch-action: none;
}

/* WebKit */
.slideContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sec2body.grid_wrapp.body2 .slideWrapper .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  row-gap: 3rem;
}

/* onclick 이벤트 */
.enlarge {
  transform: translateY(-10px);
  color: #a8315f;
  border-color: #a8315f;
  transition: all ease-out 500ms;
}

.enlargeLogo {
  font-size: 2.8rem;
  transition: all ease-out 500ms;
}

.graphBox {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  padding: 0 14px;
  place-items: center;
}

.graphBox>img {
  grid-column: 1/span 2;
  max-height: 450px;
}

.graphBox>table {
  grid-column: 3/span 4;
}

.graphBox>table td {
  vertical-align: middle;
  border-bottom: #3e3e3e solid 1px;
  padding: 0 15px 0;
}

.graphBox>table .grayCell {
  background-color: #f4f4f4;
  margin: 7px 15px;
  border: solid 10px white;
  border-spacing: 10px;
  border-collapse: separate;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
}

.sec2body.grid_wrapp.body2 .slideWrapper .slide div:nth-of-type(2) p {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.sec2body.grid_wrapp.body2>div:nth-child(1),
.sec2body.grid_wrapp.body2>div:nth-child(2) {
  grid-column: 2/span 10;
}

.sec2body.grid_wrapp.body2>.flexRow {
  height: 180px;
}

.sec2body.grid_wrapp.body3>h3,
.sec2body.grid_wrapp.body3>p {
  grid-column: 2/span 10;
}

.sec2body.grid_wrapp.body3>p {
  width: 70%;
  text-align: center;
}

.sec2body.grid_wrapp.body3>.skinBox {
  grid-column: 1/span 12;
  position: relative;
  display: grid;
  grid-template-columns: 350px 420px 350px;
  grid-auto-flow: row dense;
}

.body3>.skinBox>img {
  grid-column: 2/3;
}

.body3>.skinBox p {
  position: relative;
  line-height: 1.2;
}

.body3>.skinBox .noteLeft {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: right;
  font-size: 1rem;
  position: relative;
  top: 132px;
  left: 67px;
}

.body3>.skinBox .noteLeft .leftInbox {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 10px;
}

.body3>.skinBox .stickTag {
  width: 60px;
  height: 55px;
}

.body3>.skinBox .noteLeft .logoSmall {
  font-size: 1.2rem;
}

/* .body3>.skinBox .noteLeft p:nth-of-type(1) {
  top: 243px;
}

.body3>.skinBox .noteLeft p:nth-of-type(2) {
  top: 278px;
}

.body3>.skinBox .noteLeft p:nth-of-type(3) {
  top: 316px;
} */

.body3>.skinBox .noteRight {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  text-align: right;
  font-size: 1rem;
  position: relative;
  top: 67px;
  left: -50px;
}

.body3>.skinBox .noteRight .rightInbox {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* .body3>.skinBox .noteRight p:nth-of-type(1) {
  top: 109px;
}

.body3>.skinBox .noteRight p:nth-of-type(2) {
  top: 219px;
}

.body3>.skinBox .noteRight p:nth-of-type(3) {
  top: 316px;
} */

/* 애니메이션 관련 */
.title {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.title span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.title span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title span:nth-child(2) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@media screen and (min-width:1024px) and (max-width: 1439px) {

  /* sec1 */
  #clickBox .hotspot {
    width: 0.9rem;
    height: 0.9rem;
    padding: 0.2rem;
  }

  .sec1 .title {
    grid-column: 2/8;
  }

  /* sec2 */

  /* body1 */
  .carousel>.carousel__list {
    height: 345px;
  }

  /* body3 */
  .sec2body.grid_wrapp.body3>.skinBox {
    grid-template-columns: 300px 420px 300px;
  }

  .body3>.skinBox .noteLeft,
  .body3>.skinBox .noteRight {
    font-size: 1.125rem;
  }

  .body3>.skinBox .noteLeft {
    row-gap: 12px;
    top: 134px;
    left: 68px;
  }

  .body3>.skinBox .noteRight {
    row-gap: 25px;
    top: 69px;
    left: -40px;
  }

  /* .body3>.skinBox .noteLeft p:nth-of-type(1) {
    top: 187px;
  }

  .body3>.skinBox .noteLeft p:nth-of-type(2) {
    top: 213px;
  }

  .body3>.skinBox .noteLeft p:nth-of-type(3) {
    top: 239px;
  }

  .body3>.skinBox .noteRight p:nth-of-type(1) {
    top: 86px;
  }

  .body3>.skinBox .noteRight p:nth-of-type(2) {
    top: 171px;
  }

  .body3>.skinBox .noteRight p:nth-of-type(3) {
    top: 244px;
  } */
}

@media screen and (min-width:601px) and (max-width: 1023px) {
  h1 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  .logoBig {
    font-size: 1.7rem;
  }

  .logoSmall {
    font-size: 1.2rem
  }

  #clickBox .hotspot {
    width: 0.7rem;
    height: 0.7rem;
  }

  #clickBox .hotspot.btnFocus {
    font-size: 0.9rem;
  }

  /* sec2 */
  #sec2 {
    margin: 5rem 1rem;
  }

  .sec2body {
    margin: 11rem 0;
  }

  /* body1 */
  .sec2body.body1 {
    margin: 5rem 0;
  }

  .sec2body.grid_wrapp.body1>div:nth-child(1),
  .sec2body.grid_wrapp.body1>div:nth-child(2),
  .sec2body.grid_wrapp.body1>div:nth-child(3) {
    grid-column: 1/span 12;
  }

  .sec2body.body1>.flexRow {
    max-width: 409px;
  }

  .sec2body.body1>.flexRow h4 {
    font-size: 1.3rem;
  }

  .sec2body.body1>div:nth-child(3) {
    width: 80%;
  }

  .carousel>.carousel__list {
    height: 35vw;
  }

  .carousel>.carousel__list .carousel__item {
    width: 64%;
    height: 35vw;
  }

  .scrollerLine {
    height: 35vw;
  }

  /* body2 */
  .sec2body.grid_wrapp.body2>div:nth-child(1),
  .sec2body.grid_wrapp.body2>div:nth-child(2) {
    grid-column: 1/span 12;
  }

  .sec2body.grid_wrapp.body2>.flexRow {
    height: 150px;
  }

  .sec2body.grid_wrapp.body2>div:nth-child(1) div {
    width: 8rem;
    margin: 2rem;
  }

  .sec2body.grid_wrapp.body2 .slideWrapper .slide div:nth-of-type(2) p {
    width: 80%;
  }

  .graphBox>img {
    max-height: 400px;
  }

  /* onclick 이벤트 */
  /* .enlarge {
    font-size: 1.8rem;
  }

  .enlargeLogo {
    font-size: 2.3rem;
  } */

  /* body3 */
  .sec2body.grid_wrapp.body3>h3,
  p,
  div img {
    grid-column: 1/span 12;
  }

  .sec2body.grid_wrapp.body3>p {
    width: 90%;
    text-align: center;
  }

  .sec1 .title {
    grid-column: 2/8;
  }


  /* body3 */
  .sec2body.grid_wrapp.body3>.skinBox {
    grid-template-columns: 225px 370px;
    right: 20px;
  }

  .body3>.skinBox .noteLeft {
    font-size: 0.9rem;
    row-gap: 10px;
    top: 105px;
    left: 60px;
  }

  .body3>.skinBox .noteRight {
    display: none;
  }

  .body3>.skinBox p {
    line-height: 1;
  }

  /* .body3>.skinBox .noteLeft p:nth-of-type(1) {
    top: 108px;
  }

  .body3>.skinBox .noteLeft p:nth-of-type(2) {
    top: 118px;
  }

  .body3>.skinBox .noteLeft p:nth-of-type(3) {
    top: 128px;
  }

  .body3>.skinBox .noteRight p:nth-of-type(1) {
    top: 51px;
  }

  .body3>.skinBox .noteRight p:nth-of-type(2) {
    top: 99px;
  }

  .body3>.skinBox .noteRight p:nth-of-type(3) {
    top: 143px;
  } */
}

@media screen and (min-width:0px) and (max-width: 600px) {
  body {
    font-size: 0.9375rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .logoBig {
    font-size: 1.4rem;
  }

  .logoSmall {
    font-size: 1.125rem;
  }

  .grid_wrapp {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
  }

  /* sec1 */

  .sec1 {
    height: calc(120vw + 150px);
  }

  .sec1.grid_wrapp {
    grid-template-rows: auto 150px;
  }

  .background_image {
    background-image: url("/images/2.treat/P2_1_mobile.jpg");
    height: 120vw;
    z-index: 100;
  }

  #clickBox {
    height: 120vw;
  }

  .sec1 .title {
    grid-column: 1/span 6;
    left: 0;
    padding-left: 4%;
    align-self: flex-end;
  }

  #clickBox .hotspot.btnFocus {
    font-size: 0.875rem;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    animation-name: btnFocus;
    animation-fill-mode: forwards;
  }

  @keyframes btnFocus {
    from {
      width: 16px;
      height: 16px;
      transform: translateX(0);
    }

    to {
      width: 174px;
      height: 30px;
      transform: translateX(-50%);
    }
  }

  #clickBox .hotspot:nth-of-type(1) {
    left: 62.6%;
    top: 26%;
  }

  #clickBox .hotspot:nth-of-type(2) {
    left: 35%;
    top: 33%;
  }

  #clickBox .hotspot:nth-of-type(3) {
    left: 41%;
    top: 40%;
  }

  #clickBox .hotspot:nth-of-type(4) {
    left: 57%;
    top: 46%;
  }

  #clickBox .hotspot:nth-of-type(5) {
    left: 28%;
    top: 45%;
  }

  #clickBox .hotspot:nth-of-type(6) {
    left: 41%;
    top: 51%;
  }

  #clickBox .hotspot:nth-of-type(7) {
    left: 35%;
    top: 59%;
  }

  #clickBox .hotspot:nth-of-type(8) {
    left: 48%;
    top: 68%;
  }

  #clickBox .hotspot:nth-of-type(9) {
    left: 45%;
    top: 74%;
  }

  /* sec2 */
  #sec2 {
    margin: 1rem 1rem;
  }

  .sec2body:last-of-type {
    margin: 11rem 0 5rem;
  }

  /* body1 */
  .sec2body.body1 {
    margin: 5rem 0;
  }

  .sec2body.grid_wrapp.body1>div:nth-child(1),
  .sec2body.grid_wrapp.body1>div:nth-child(2),
  .sec2body.grid_wrapp.body1>div:nth-child(3) {
    grid-column: 1/span 6;
  }

  .sec2body.body1>.flexRow h4 {
    font-size: 1.1rem;
  }

  .carousel>.carousel__list {
    height: 44vw;
  }

  .sec2body.body1>div:nth-child(3) {
    width: 100%;
  }

  .carousel>.carousel__list .carousel__item[data-pos="-1"] {
    transform: translate3d(-30%, 0, -100px);
  }

  .carousel>.carousel__list .carousel__item[data-pos="1"] {
    transform: translate3d(30%, 0, -100px);
  }

  /* body2 */
  .sec2body.grid_wrapp.body2>div:nth-child(1),
  .sec2body.grid_wrapp.body2>div:nth-child(2) {
    grid-column: 1/span 6;
  }

  .sec2body.grid_wrapp.body2>.flexRow {
    height: 100px;
    width: 90%;
    justify-content: space-around;
  }

  .sec2body.grid_wrapp.body2>div:nth-child(1) div {
    width: 30%;
    max-width: 110px;
    margin: 0.5rem;
  }

  .sec2body.grid_wrapp.body2 .slideWrapper .slide div:nth-of-type(2) p {
    width: 100%;
  }

  .graphBox {
    column-gap: 10px;
    padding: 0 0;
    grid-template-rows: auto auto;
    row-gap: 0.875rem;
  }

  .graphBox>img {
    grid-column: 1/span 6;
    max-height: 205px;
  }

  .graphBox>table {
    grid-column: 1/span 6;
    font-size: 0.9375rem;
  }

  .graphBox>table td {
    padding: 0 6px 0;
  }

  .graphBox>table .grayCell {
    border: solid 7px white;
  }

  /* onclick 이벤트 */
  /* .enlarge {
    font-size: 1.3rem;
  }

  .enlargeLogo {
    font-size: 1.6rem;
  } */

  /* body3 */
  .sec2body.grid_wrapp.body3>h3,
  p,
  div img {
    grid-column: 1/span 6;
  }

  .sec2body.grid_wrapp.body3>p {
    grid-column: 1/span 6;
    width: 100%;
    text-align: center;
  }

  .sec2body.grid_wrapp.body3>.skinBox {
    grid-column: 1/span 6;
  }

  /* body3 */
  .sec2body.grid_wrapp.body3>.skinBox {
    grid-template-columns: 120px 200px;
  }

  .body3>.skinBox .noteLeft {
    font-size: 0.8rem;
    top: 0;
    left: 0;
    padding: 25px 0 0;
  }

  .body3>.skinBox .noteRight {
    display: none;
  }

  .body3>.skinBox p {
    line-height: 1;
  }

  .body3>.skinBox .stickTag {
    display: none;
  }


  .carousel>.carousel__list .carousel__item {
    height: 44vw;
  }

  .scroller>img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .scrollerLine {
    height: 44vw;
  }

  /* .body3>.skinBox .noteLeft p:nth-of-type(1) {
    top: 108px;
  }

  .body3>.skinBox .noteLeft p:nth-of-type(2) {
    top: 118px;
  }

  .body3>.skinBox .noteLeft p:nth-of-type(3) {
    top: 128px;
  }

  .body3>.skinBox .noteRight p:nth-of-type(1) {
    top: 51px;
  }

  .body3>.skinBox .noteRight p:nth-of-type(2) {
    top: 99px;
  }

  .body3>.skinBox .noteRight p:nth-of-type(3) {
    top: 143px;
  } */
}